asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
cryptography==41.0.2
edgegrid-python==1.1.0
idna==2.6
ndg-httpsclient==0.4.3
pkg-resources==0.0.0
pyasn1==0.3.7
pycparser==2.18
pyOpenSSL==17.3.0
requests==2.18.4
six==1.11.0
urllib3==1.22
XlsxWriter==1.0.2
